.vscode
tags
.editorconfig
.DS_Store

.idea
build
Ipopt-3.12.8
CMakeLists.txt
cmakepatch.txt
CODEOWNERS
DATA.md
install_ipopt.sh
install-mac.sh
install-ubuntu.sh
lake_track_waypoints.csv
README_UDACITY.md

src/Eigen-3.3
src/json.hpp